* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;

  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-areas: 
    "avatar header"
    "aboutme aboutme"
    "contacts contacts"
    "skills skills"
    "education education";
  grid-template-columns: 1fr 5fr;
  grid-row-gap: 10px;
  max-width: 1024px;
  margin: 0 auto;

  background-color: yellow;

  box-sizing: border-box;
}

.avatar {
  grid-area: avatar;
  height: 150px;
  width: 150px;
  padding: 2% 0 0 2%;
  
  border: none;

  box-sizing: border-box;
}

.header {
  grid-area: header;
  padding-left: 5%;
}

.aboutme {
  grid-area: aboutme;
}

.contacts {
  grid-area: contacts;
}

.skills {
  grid-area: skills;
}

.education {
  grid-area: education;
}

.avatar-img {
  width: 100%;
  height: 100%;

  border-radius: 50%;
  shape-outside: circle(50%);
  overflow: hidden;
  box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.2);
}